img{

    width: 150px;

    height: 150px;
    margin-bottom: 10px;
    
}

.test {
    background-color: green !important;
    width: 150px;

    height: 150px;
    margin-bottom: 10px;
}

#tester {

    opacity: 0;
}